<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <TrainingSet>10</TrainingSet>
  <Noise>0.05</Noise>
  <SettingsMLP>
    <ErrorThreshold>0.01</ErrorThreshold>
    <LearningRate>0.1</LearningRate>
    <Iterations>500</Iterations>
  </SettingsMLP>
  <SettingsRBF>
    <ErrorThreshold>0.01</ErrorThreshold>
    <LearningRate>0.1</LearningRate>
    <Iterations>500</Iterations>
  </SettingsRBF>
</Settings>